<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DSS_projectConnectionString" connectionString="Data Source=DESKTOP-HULH1KJ;Initial Catalog=DSS_project;User ID=tester;Password=test" providerName="System.Data.SqlClient" />
        <add name="DSS_projectConnectionString2" connectionString="Data Source=DESKTOP-HULH1KJ;Initial Catalog=DSS_project;User ID=tester;Password=test" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
     
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="ch1.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
